@import "@fontsource/lexend";

:root {
    --primary: #abcfa0;
    --background: #28312f;
    --foreground: #374341;
    --text: #fdf6ec;
}

body {
    font-family: "Lexend", sans-serif;
    background-image:
        linear-gradient(rgba(25, 26, 25, 0.8), rgba(25, 26, 25, 0.8)),
        url("/images/bg.png");
    background-position: right top;
    color: var(--text);
    padding-left: 18%;
    padding-right: 18%;
    margin: 0px;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--text);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--primary);
}

a:visited {
    color: #fbedda;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

::view-transition-old() {
    animation: none;
}

@media (max-width: 750px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
}
