:root {
    --primary: #abcfa0;
    --background: #28312f;
    --foreground: #374341;
    --text: #fdf6ec;
}

body {
    background-image:
        linear-gradient(rgba(25, 26, 25, 0.8), rgba(25, 26, 25, 0.8)),
        url("/images/bg.png");
    background-position: right top;
    color: var(--text);
    padding-left: 20%;
    padding-right: 20%;
    margin: 0px;
}
